<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Conexion BootStraps -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <!-- Fin BootStrap -->
    <!-- Fuente de letra Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet" />
    <!-- Fin fuente de letra -->
    <link rel="shortcut icon" href="/assets/favicon.webp" type="image/x-icon" />
    <link rel="stylesheet" href="/styles\test.css" />

    <title>characters</title>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-body-tertiary">
            <div class="container-fluid w-100">
                <a class="navbar-brand w-25" href="/index.html"><img src="/assets/Naruto-Proyect-19-6-2024.png"
                        class="mw-100" alt="" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="d-flex w-100 justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/pages/characters.html">Characters</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Clans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/pages/villages.html">Villages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/juan-jose-aguirre/RetoFinalNaruto"
                                    target="_blank"><img class="rounded-circle img-github"
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR27kaHyBN4-iwj7H4pMmnE7kaC720Y-PYzKQ&s"
                                        alt="" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main id="charactersVue">
        <div class="d-flex flex-column align-items-center text-center">
            <img class="img-fluid w-25 my-4" src="/assets/tituloPersonajes.png" alt="title">
            <p class="fw-bold w-75">
                Welcome to the world of "Naruto," where ninjas fight for their dreams and face powerful challenges.
                Below, we present you the characters who make this series one of the most beloved and exciting.
                Discover their stories, motivations, and unique abilities that make them stand out in the village of
                Konoha and beyond.
                Immerse yourself in their adventures and meet the heroes and villains who are part of this incredible
                ninja universe!
            </p>
        </div>

        <!-- filtros y search -->

        <div class="container-fluid w-75 d-flex justify-content-center">
            <div class="container mt-5 w-50 ">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-warning " for="jinchūriki">
                        <input type="checkbox"  id="jinchūriki" v-model="filtroBestias"
                            @change="filtrarPersonajes">jinchūriki
                    </label>
                    <label class="btn  btn-warning " for="boruto">
                        <input type="checkbox" id="boruto" v-model="filtroBoruto" @change="filtrarPersonajes">
                        boruto
                    </label>
                    <label class="btn btn-warning" for="kekkeiGenkai">
                        <input type="checkbox" id="kekkeiGenkai" v-model="filtroOjos" @change="filtrarPersonajes">kekkeiGenkai
                    </label>
                    <label class="btn btn-warning" for="narutoShippuden">
                        <input type="checkbox" id="narutoShippuden" v-model="filtroShippuden" @change="filtrarPersonajes">
                        Naruto Shippuden
                    </label>
                    <label class="btn btn-warning" for="naruto">
                        <input type="checkbox" id="naruto" v-model="filtroNaruto" @change="filtrarPersonajes">Naruto
                    </label>

                </div>
            </div>
            <!-- search -->

            <div class="container-fluid w-50 m-3">
                <form class="d-flex " role="search">
                    <input class="form-control me-2 w-100" v-model="filtroNombre" @input="filtrarPersonajes"
                        type="search" placeholder="Search characters...." aria-label="Search">
                </form>
            </div>
        </div>

        <!-- paginacion -->
        <div class="container-fluid w-75 d-flex flex-wrap" >
            <div class="container-fluid  ">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" :class="{ disabled: paginaActual === 1 }">
                            <a class="page-link" href="#" @click="cambiarPagina(paginaActual - 1)">Previous</a>
                        </li>
                        <li class="page-item" v-for="pagina in paginas" :key="pagina"
                            :class="{ active: pagina === paginaActual }">
                            <a class="page-link" href="#" @click="cambiarPagina(pagina)">{{ pagina }}</a>
                        </li>
                        <li class="page-item" :class="{ disabled: paginaActual === totalPaginas }">
                            <a class="page-link" href="#" @click="cambiarPagina(paginaActual + 1)">Next</a>
                        </li>
                    </ul>
                </nav>
               
            </div>


            <!-- tarjetas -->

           <div v-if="personajesPaginados.length == 0">
            <div class="alert alert-danger mt-3 d-block" role="alert">
              There were no coincidences!
            </div>
          </div>
            <div v-for="personaje in personajesPaginados" :key="personaje.id">
                <a :href="'detallePersonaje.html?id='+personaje.id" class="col-md-4 mb-4 card-link">
                    <div class="card m-3 shadow" style="width: 18rem">
                        <img v-if="personaje.images.length != 0" :src="personaje.images[0]" class="card-img-top"
                            :alt="personaje.name">
                        <img v-if="personaje.images.length == 0" src="/assets/favicon.webp" class="card-img-top"
                            :alt="personaje.name">
                        <div class="card-body">
                            <h5 class="card-title">{{ personaje.name }}</h5>
                            <a :href="'detallePersonaje.html?id='+personaje.id" class="btn btn-primary">Más
                                información</a>
                        </div>
                    </div>
                </a>
            </div>
            

            <div class="container-fluid ">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" :class="{ disabled: paginaActual === 1 }">
                            <a class="page-link" href="#" @click="cambiarPagina(paginaActual - 1)">Previous</a>
                        </li>
                        <li class="page-item" v-for="pagina in paginas" :key="pagina"
                            :class="{ active: pagina === paginaActual }">
                            <a class="page-link" href="#" @click="cambiarPagina(pagina)">{{ pagina }}</a>
                        </li>
                        <li class="page-item" :class="{ disabled: paginaActual === totalPaginas }">
                            <a class="page-link" href="#" @click="cambiarPagina(paginaActual + 1)">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>





    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/scripts/characters.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        </script>

</body>

</html>