<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Conexion BootStraps -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Fin BootStrap -->
    <!-- Fuente de letra Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Fin fuente de letra -->
    <link rel="shortcut icon" href="/assets/favicon.webp" type="image/x-icon" />
    <link rel="stylesheet" href="/styles\store.css" />
    <title>Naruto Proyect</title>
  </head>
  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-sm barra">
        <div class="container-fluid w-100" id='narutoLogo'>

          <a class="navbar-brand img-fluid w-75" href="#"
              ><img
                src="/assets\NARUTO-6-20-2024.png"
                class="mw-100"
                id="logoHeader"
                alt=""
            /></a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="d-flex w-100 justify-content-end">
              <ul class="navbar-nav d-flex align-items-sm-center text-center shadow navegadores">
                <li class="nav-item">
                  <a class="nav-link text-white" href="/index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/pages/characters.html">Characters</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/pages/clans.html">Clans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/pages\villanos.html">Villains</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Store</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/pages/statistics.html">Statistics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/juan-jose-aguirre/RetoFinalNaruto" target="_blank">
                    <img class="rounded-circle img-github" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR27kaHyBN4-iwj7H4pMmnE7kaC720Y-PYzKQ&s" alt="GitHub" />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main id="store" class="container-fluid">
      <div class="w-100 mb-4 text-center mt-5">
        <h2 class="centered-text d-none d-sm-block">Store</h2>
        <div class="image-container">

            <img id='pergamino' class="w-50 efecto-show" src="/assets/divisor.png" alt="WelcomeToNarutoProyect" />

        </div>
      </div>


    <div class="d-flex flex-wrap justify-content-around">
      <div class="d-flex flex-md-column justify-content-center w-100">
        <form class="d-sm-flex flex-column flex-md-row gap-2 w-75 mx-auto" role="search">
          <input
            v-model="textoBuscar"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            @input="filtroBuscar"
          />
          <div class="d-flex justify-content-center my-1" id="divRadios">
            <input
              type="radio"
              class="btn-check"
              name="filtroRadio"
              id="ascendente"
              value="ascendente"
              autocomplete="off"
              checked
              @click="filtrar()"
            />
            <label class="btn" for="ascendente">upward</label>
            <input
              type="radio"
              class="btn-check"
              name="filtroRadio"
              id="descendente"
              value="descendente"
              autocomplete="off"
              @click="filtrar()"
            />


              <label class="btn" for="descendente" >falling</label>
            </div>
            <select
              class="form-select"
              id="filtroSelect"
              @change="filtrar"
              aria-label="Default select example"
            >
              <option selected value="none">Select a column</option>
              <option value="name">Name</option>
              <option value="price">Price</option>
            </select>
          </form>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
          <div v-if="ListaProductos.length == 0">
            <div class="alert alert-danger mt-3 d-block" role="alert">
              There were no coincidences!
            </div>
          </div>
          <div v-for="producto of ListaProductos" class="m-2">
            <div class="card h-100" style="width: 18rem">
              <img
                :src="producto.image"
                class="card-img-top h-50 object-fit-cover"
                :alt="producto.name"
              />
              <div
                class="card-body h-50 d-flex flex-column align-items-center justify-content-center"
              >
                <h5 class="card-title text-center">{{producto.name}}</h5>
                <p class="card-text text-decoration-underline">
                  💲{{producto.price}}
                </p>
                <div class="d-flex justify-content-between w-75">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    :data-bs-target="'#exampleModal'+producto.id"
                  >
                    Details
                  </button>

                  <div
                    class="modal fade"
                    :id="'exampleModal'+producto.id"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">
                            {{producto.name}}
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <div
                            class="w-100 d-flex flex-column align-items-center"
                          >
                            <img
                              class="object-fit-cover w-75"
                              :src="producto.image"
                              alt=""
                            />
                            <p class="text-center">💲{{producto.price}}</p>
                            <p class="text-center">{{producto.description}}</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <div>
                            <button
                            v-if="producto.toBuy == false"
                            class="btn d-flex justify-content-center btn-primary"
                            @click="toBuy(producto)"
                          >Save
                          <svg
                          
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"
                          />
                        </svg>
                      </button>
                          <button v-if="producto.toBuy == true"
                          class="btn d-flex justify-content-center btn-primary"
                          @click="limpiarCarrito(producto)">Quit
                          <svg
                        
                          xmlns="http://www.w3.org/2000/svg"
                          height="24px"
                          viewBox="0 -960 960 960"
                          width="24px"
                          fill="#e8eaed"
                        >
                          <path
                            d="m634-440-81-80h69l110-200H353l-80-80h525q23 0 35.5 19.5t.5 42.5L692-482q-11 20-28 31t-30 11ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm540 52L566-280H304q-44 0-67-37.5t-3-78.5l42-86-72-162L28-820l56-56L876-84l-56 56ZM486-360l-80-80h-62l-40 80h182Zm136-160h-69 69Zm58 440q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80Z"
                          />
                        </svg>
                          </button>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>

                  
                  <button
                    v-if="producto.toBuy == false"
                    class="btn d-flex justify-content-center btn-primary"
                    @click="toBuy(producto)"
                  >
                  <svg
                  
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"
                  />
                </svg>
              </button>
                  <button v-if="producto.toBuy == true"
                  class="btn d-flex justify-content-center btn-primary"
                  @click="limpiarCarrito(producto)">
                  <svg
                
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="m634-440-81-80h69l110-200H353l-80-80h525q23 0 35.5 19.5t.5 42.5L692-482q-11 20-28 31t-30 11ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm540 52L566-280H304q-44 0-67-37.5t-3-78.5l42-86-72-162L28-820l56-56L876-84l-56 56ZM486-360l-80-80h-62l-40 80h182Zm136-160h-69 69Zm58 440q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80Z"
                  />
                </svg>
                  </button>
                </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<button v-if="listaCarrito.length > 0" type="button" class="btn btn-warning d-flex flex-column align-items-center fw-bold text-white" style="position: fixed; bottom: 20vh; right: 8vw;" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Cart<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/></svg><span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
    <span class="visually-hidden">New alerts</span>
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Shopping cart</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex overflow-x-scroll">
        <div v-for="producto of ListaProductos" class="m-2">
          <div v-if="producto.toBuy == true" class="card h-100" style="width: 10rem">
            <img
              :src="producto.image"
              class="card-img-top h-50 object-fit-cover"
              :alt="producto.name"
            />
            <div
              class="card-body h-50 d-flex flex-column align-items-center justify-content-center"
            >
              <h5 class="card-title text-center">{{producto.name}}</h5>
              <p class="card-text text-decoration-underline">
                💲{{producto.price}}
              </p>
              <div class="d-flex justify-content-center w-75">
                
                
                <div>

                  
                  
                  <button v-if="producto.toBuy == true && listaCarrito.length == 1"
                  class="btn d-flex justify-content-center btn-primary"
                  data-bs-dismiss="modal"
                  @click="limpiarCarrito(producto)">Quit
                  <svg
                
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="m634-440-81-80h69l110-200H353l-80-80h525q23 0 35.5 19.5t.5 42.5L692-482q-11 20-28 31t-30 11ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm540 52L566-280H304q-44 0-67-37.5t-3-78.5l42-86-72-162L28-820l56-56L876-84l-56 56ZM486-360l-80-80h-62l-40 80h182Zm136-160h-69 69Zm58 440q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80Z"
                  />
                </svg>
                  </button>
                  <button v-if="producto.toBuy == true && listaCarrito.length > 1"
                  class="btn d-flex justify-content-center btn-primary"
                  @click="limpiarCarrito(producto)">Quit
                  <svg
                
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#e8eaed"
                >
                  <path
                    d="m634-440-81-80h69l110-200H353l-80-80h525q23 0 35.5 19.5t.5 42.5L692-482q-11 20-28 31t-30 11ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm540 52L566-280H304q-44 0-67-37.5t-3-78.5l42-86-72-162L28-820l56-56L876-84l-56 56ZM486-360l-80-80h-62l-40 80h182Zm136-160h-69 69Zm58 440q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80Z"
                  />
                </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger align-middle" data-bs-dismiss="modal" @click="vaciarCarrito">Empty<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg></button>
        <button type="button" class="btn btn-success align-middle">Payment<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg></button>
      </div>
    </div>
  </div>
</div>
    </main>
    <footer class="bg-dark text-white py-4">
      <h2 class="text-center">Our sponsors</h2>
      <div class="d-flex justify-content-center align-items-center position-relative">
        <div class="d-flex justify-content-center align-items-center sponsors">
          <img class="img-footer mx-2" src="https://mindhubweb.com/img/logo_blanco.ca1738c0.webp" alt="MindHub">
          <img class="img-footer mx-2" src="https://marketing.rappi.com.mx/img/logo.png" alt="Rappi">
        </div>
        <button class="btn btn-link text-white mt-3 position-absolute end-0 me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          Meet the developers
        </button>
      </div>
      
      <div class="offcanvas offcanvas-start  " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Workgroup</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column text-center  ">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/assets/banner2.webp" class="img-fluid rounded-start" alt="Juan">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-black">Juan</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/assets/banner2.webp" class="img-fluid rounded-start" alt="Harold">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-black">Harold</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/assets/banner2.webp" class="img-fluid rounded-start" alt="Chantal">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-black">Chantal</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/assets/banner2.webp" class="img-fluid rounded-start" alt="Manuel">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-black">Manuel</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/assets/banner2.webp" class="img-fluid rounded-start" alt="Carlos">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-black">Carlos</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="/scripts/store.js"></script>
  </body>
</html>
