/* Animaciones */
@keyframes show {
    from {
        opacity: .5;
        scale: 60%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

@keyframes navbar {
    to {
        background-color: rgba(24, 24, 24, 0.9);
        backdrop-filter: blur(5px);
    }
}

/* Estilos generales */
body {
    background-color: #5590e9;
    font-family: "Roboto";
    position: relative;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://wallpapercave.com/wp/wp7237677.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.4;
    z-index: -2;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(188, 202, 224, 0.288);
    z-index: -1;
}

/* Estilos del header */
#header {
    background-color: rgb(29, 28, 28) !important;
}

#logoHeader {
    height: 80px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    border-radius: 10px !important;
    padding-left: 10px;
}

.navbar-nav:hover {
    background-color: rgba(248, 104, 9, 0.6) !important;
    border-radius: 10px !important;
    padding-left: 10px;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link:hover {
    color: rgb(255, 243, 231) !important;
}

.img-github {
    width: 5vh !important;
    height: auto;
    margin-left: 8px;
}

.w-100.mb-4 {
    position: relative;
    text-align: center;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(43, 43, 43);
    z-index: 1;
}

/* Estilos para el contenedor del texto destacado */
.highlighted-text-container {
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.highlighted-text {
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.5;
}



/* Botón Go Up */
.GoUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(248, 104, 9, 0.8);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.GoUp:hover {
    transform: scale(1.1);
    background-color: rgba(248, 104, 9, 1);
}

.GoUp img {
    width: 40px;
    height: 40px;
}

.go-up-text {
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.go-up-text:first-of-type {
    margin-bottom: 5px; 
}

.go-up-text:last-of-type {
    margin-top: 5px; 
}

/* Estilos del footer */
footer {
    background-color: rgb(29, 28, 28) !important;
    color: white;
    padding: 20px 0;
}

footer h2 {
    margin-bottom: 20px;
}

footer .img-footer {
    height: 60px;
    width: auto;
    margin: 0 15px;
}

footer .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping */
}

/* Estilos de la tabla */
th {
    background-color: #F57B18 !important;
}
.btn{
    background-color: #F57B18;
}

.image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.3s;
}

.image:hover {
    transform: scale(1.6);
    border: 2px solid orange;
}

.boton {
    transition: all 0.3s;
}

.boton:hover {
    transform: scale(1.15);
}

.cardDetail {
    transition: all 0.3s;
}

.cardDetail:hover img {
    transform: scale(1.10);
}

.cardDetail:hover h5 {
    transform: scale(1.30);
}

/* Estilos responsivos */
@media screen and (min-width: 0px) and (max-width: 600px) {
    .navbar-nav {
        flex-direction: column;
    }
    .GoUp {
        bottom: 10px;
        right: 10px;
    }
    .table-responsive {
        margin-bottom: 1rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        display: block;
    }
    .table {
        min-width: 100%;
    }
}
@media screen and (max-width: 600px) {
    footer .sponsors {
        flex-direction: column; 
        text-align: center; 
    }
    
    footer .img-footer {
        margin: 10px 0; 
    }

    footer .btn-link {
        margin-top: 20px; 
    }
}